<div class="container-fluid">
  <div class="row min-vh-100">
    <aside class="col-3 col-sm-4 col-md-3 col-xl-2 p-0 bg-dark" >
      <nav class="navbar text-white navbar-expand-md navbar-dark flex-md-column justify-content-center row
      align-items-center py-2 text-center sticky-top" id="sidebar">

      <h1 class="my-5">Echo</h1>
      <ul class="list-group row list-group-flush w-75">
        <li class="list-group-item col-sm-2 list-group-item-action bg-dark"><a href="/customer">Müşteri Ara</a></li>
      </ul>
      </nav>
    </aside>
    <main class="col-9 col-sm-8 col-md-9 px-5 ">
      <div class="px-5">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
